In [287]:
# String based assignment based questions.

In [80]:
# 1. Reverse a string
# Explanation: This program takes a string input and reverses it using slicing.
string = "Hello World!"
reversed_string = string[::-1]
print("Reversed String:", reversed_string)

Reversed String: !dlroW olleH

In [81]:

# 2. Check if a string is a palindrome
# Explanation: A string is a palindrome if it reads the same backward as forward.
string = "madam"
is_palindrome = string == string[::-1]
print("Is Palindrome:", is_palindrome)

Is Palindrome: True

In [82]:
# 3. Convert a string to uppercase
# Explanation: Using the built-in upper() method to convert the string to uppercase.
string = "hello world"
uppercase_string = string.upper()
print("Uppercase String:", uppercase_string)

Uppercase String: HELLO WORLD

In [83]:
# 4. Convert a string to lowercase
# Explanation: Using the lower() method to convert the string to lowercase.
string = "Hello World"
lowercase_string = string.lower()
print("Lowercase String:", lowercase_string)

Lowercase String: hello world

In [84]:
# 5. Count the number of vowels in a string
# Explanation: Iterating through the string and counting vowels.
string = "Hello World"
vowels = "aeiouAEIOU"
vowel_count = sum(1 for char in string if char in vowels)
print("Number of Vowels:", vowel_count)

Number of Vowels: 3

In [85]:
# 6. Count the number of consonants in a string
# Explanation: Filtering out vowels and spaces to count consonants.
consonant_count = sum(1 for char in string if char.isalpha() and char not in vowels)
print("Number of Consonants:", consonant_count)

Number of Consonants: 7

In [86]:
# 7. Remove all whitespaces from a string
# Explanation: Using the replace method to remove spaces.
no_whitespace = string.replace(" ", "")
print("String without Whitespaces:", no_whitespace)

String without Whitespaces: HelloWorld

In [87]:
# 8. Find the length of a string without using the len() function
# Explanation: Counting characters manually using a loop.
length = sum(1 for char in string)
print("Length of String:", length)

Length of String: 11

In [88]:
# 9. Check if a string contains a specific word
# Explanation: Using the `in` operator to check for a word.
specific_word = "World"
contains_word = specific_word in string
print("Contains Specific Word:", contains_word)

Contains Specific Word: True

In [89]:
# 10. Replace a word in a string with another word
# Explanation: Using the replace method.
replaced_string = string.replace("World", "Universe")
print("Replaced String:", replaced_string)

Replaced String: Hello Universe

In [90]:
# 11. Count the occurrences of a word in a string
# Explanation: Using the count() method.
occurrences = string.count("Hello")
print("Occurrences of 'Hello':", occurrences)

Occurrences of 'Hello': 1

In [91]:
# 12. Find the first occurrence of a word in a string
# Explanation: Using the find() method.
first_occurrence = string.find("World")
print("First Occurrence of 'World':", first_occurrence)

First Occurrence of 'World': 6

In [92]:
# 13. Find the last occurrence of a word in a string
# Explanation: Using the rfind() method.
last_occurrence = string.rfind("World")
print("Last Occurrence of 'World':", last_occurrence)

Last Occurrence of 'World': 6

In [93]:
# 14. Split a string into a list of words
# Explanation: Using the split() method to break the string by spaces.
split_list = string.split()
print("List of Words:", split_list)

List of Words: ['Hello', 'World']

In [94]:
# 15. Join a list of words into a string
# Explanation: Using the join() method.
joined_string = " ".join(split_list)
print("Joined String:", joined_string)

Joined String: Hello World

In [95]:
# 16. Convert spaces to underscores
# Explanation: Replacing spaces with underscores.
underscored_string = string.replace(" ", "_")
print("Underscored String:", underscored_string)

Underscored String: Hello_World

In [96]:
# 17. Check if a string starts with a specific word
# Explanation: Using the startswith() method.
starts_with_hello = string.startswith("Hello")
print("Starts with 'Hello':", starts_with_hello)

Starts with 'Hello': True

In [97]:
# 18. Check if a string ends with a specific word
# Explanation: Using the endswith() method.
ends_with_world = string.endswith("World")
print("Ends with 'World':", ends_with_world)

Ends with 'World': True

In [98]:
# 19. Convert a string to title case
# Explanation: Using the title() method.
title_case_string = string.title()
print("Title Case String:", title_case_string)

Title Case String: Hello World

In [99]:
# 20. Find the longest word in a string
# Explanation: Splitting the string and using max() with key=len.
longest_word = max(split_list, key=len)
print("Longest Word:", longest_word)

Longest Word: Hello

In [100]:
# 21. Find the shortest word in a string
# Explanation: Splitting and using min() with key=len.
shortest_word = min(split_list, key=len)
print("Shortest Word:", shortest_word)

Shortest Word: Hello

In [101]:
# 22. Reverse the order of words
# Explanation: Reversing the list of words and joining.
reversed_order = " ".join(reversed(split_list))
print("Reversed Order of Words:", reversed_order)

Reversed Order of Words: World Hello

In [102]:
# 23. Check if a string is alphanumeric
# Explanation: Using isalnum() method.
is_alphanumeric = string.replace(" ", "").isalnum()
print("Is Alphanumeric:", is_alphanumeric)

Is Alphanumeric: True

In [103]:
# 24. Extract all digits from a string
# Explanation: Filtering characters that are digits.
digits = "".join(char for char in string if char.isdigit())
print("Digits Extracted:", digits)

Digits Extracted:

In [104]:
# 25. Extract all alphabets from a string
# Explanation: Filtering characters that are alphabets.
alphabets = "".join(char for char in string if char.isalpha())
print("Alphabets Extracted:", alphabets)

Alphabets Extracted: HelloWorld

In [105]:
# 26. Count uppercase letters in a string
# Explanation: Filtering and counting uppercase letters.
uppercase_count = sum(1 for char in string if char.isupper())
print("Uppercase Count:", uppercase_count)

Uppercase Count: 2

In [106]:
# 27. Count lowercase letters in a string
# Explanation: Filtering and counting lowercase letters.
lowercase_count = sum(1 for char in string if char.islower())
print("Lowercase Count:", lowercase_count)

Lowercase Count: 8

In [107]:
# 28. Swap the case of each character in a string
# Explanation: Using swapcase() method.
swapped_case_string = string.swapcase()
print("Swapped Case String:", swapped_case_string)

Swapped Case String: hELLO wORLD

In [108]:
# 29. Remove a specific word from a string
word_to_remove = "Hello"
removed_word_string = string.replace(word_to_remove, "")
print("String after Removing Word:", removed_word_string)

String after Removing Word:  World

In [109]:
# 30. Check if a string is a valid email address
import re
email = "test@example.com"
is_valid_email = re.match(r"^[\w.-]+@[\w.-]+\.\w+$", email) is not None
print("Is Valid Email:", is_valid_email)

Is Valid Email: True

In [110]:
# 31. Extract the username from an email address
username = email.split("@")[0]
print("Username:", username)

Username: test

In [111]:
# 32. Extract the domain name from an email address
domain = email.split("@")[1]
print("Domain:", domain)

Domain: example.com

In [112]:
# 33. Replace multiple spaces in a string with a single space
string_with_spaces = "Hello   World   Test"
single_space_string = re.sub(r" +", " ", string_with_spaces)
print("Single Space String:", single_space_string)

Single Space String: Hello World Test

In [113]:
# 34. Check if a string is a valid URL
url = "https://example.com"
is_valid_url = re.match(r"https?://[\w.-]+", url) is not None
print("Is Valid URL:", is_valid_url)

Is Valid URL: True

In [114]:
# 35. Extract the protocol from a URL string
protocol = url.split(":")[0]
print("Protocol:", protocol)

Protocol: https

In [115]:
# 36. Find the frequency of each character in a string
from collections import Counter
frequency = Counter(string)
print("Character Frequency:", dict(frequency))

Character Frequency: {'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1}

In [116]:
# 37. Remove all punctuation from a string
import string as s
string_no_punctuation = re.sub(f"[{s.punctuation}]", "", "Hello, World!")
print("No Punctuation String:", string_no_punctuation)

No Punctuation String: Hello World

In [117]:
# 38. Check if a string contains only digits
only_digits = "12345".isdigit()
print("Contains Only Digits:", only_digits)

Contains Only Digits: True

In [118]:
# 39. Check if a string contains only alphabets
only_alphabets = "HelloWorld".isalpha()
print("Contains Only Alphabets:", only_alphabets)

Contains Only Alphabets: True

In [119]:
# 40. Convert a string to a list of characters
char_list = list(string)
print("List of Characters:", char_list)

List of Characters: ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [120]:
# 41. Check if two strings are anagrams
string1, string2 = "listen", "silent"
are_anagrams = sorted(string1) == sorted(string2)
print("Are Anagrams:", are_anagrams)

Are Anagrams: True

In [121]:
# 42. Encode a string using a Caesar cipher
def caesar_cipher(text, shift):
    result = ""
    for char in text:
        if char.isalpha():
            shift_base = ord('A') if char.isupper() else ord('a')
            result += chr((ord(char) - shift_base + shift) % 26 + shift_base)
        else:
            result += char
    return result

encoded_string = caesar_cipher("Hello World", 3)
print("Encoded String:", encoded_string)

Encoded String: Khoor Zruog

In [122]:
# 43. Decode a Caesar cipher encoded string
decoded_string = caesar_cipher(encoded_string, -3)
print("Decoded String:", decoded_string)

Decoded String: Hello World

In [125]:
# 44. Find the most frequent word in a string
from collections import Counter

# Example input string
input_string = "apple banana apple orange banana apple"

# Split the string into a list of words
words_list = input_string.split()

# Find the most frequent word
most_frequent_word = Counter(words_list).most_common(1)[0][0]
print("Most Frequent Word:", most_frequent_word)

Most Frequent Word: apple

In [126]:
# 45. Find all unique words in a string
unique_words = set(words_list)
print("Unique Words:", unique_words)

Unique Words: {'orange', 'apple', 'banana'}

In [127]:
# 46. Count the number of syllables in a string
def count_syllables(word):
    return len(re.findall(r"[aeiouAEIOU]+", word))

syllable_count = sum(count_syllables(word) for word in words_list)
print("Number of Syllables:", syllable_count)

Number of Syllables: 15

In [128]:
# 47. Check if a string contains any special characters
special_characters = re.findall(r"[^a-zA-Z0-9 ]", string)
print("Special Characters Found:", special_characters)

Special Characters Found: []

In [129]:
# 48. Remove the nth word from a string
n = 1
removed_nth_word = " ".join(word for i, word in enumerate(words_list) if i != n)
print("String after Removing nth Word:", removed_nth_word)

String after Removing nth Word: apple apple orange banana apple

In [130]:
# 49. Insert a word at the nth position in a string
n = 1
word_to_insert = "Beautiful"
inserted_word_string = " ".join(words_list[:n] + [word_to_insert] + words_list[n:])
print("String after Inserting Word:", inserted_word_string)

String after Inserting Word: apple Beautiful banana apple orange banana apple

In [131]:
# 50. Convert a CSV string to a list of lists
csv_string = "name,age\nAlice,30\nBob,25"
csv_list = [line.split(',') for line in csv_string.split('\n')]
print("CSV as List of Lists:", csv_list)

CSV as List of Lists: [['name', 'age'], ['Alice', '30'], ['Bob', '25']]

In [132]:
# List Based Practice Problems with Solutions in Python

In [133]:

# 1. Create a list with integers from 1 to 10.
list_1_to_10 = list(range(1, 11))
print("List from 1 to 10:", list_1_to_10)

List from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [134]:
# 2. Find the length of a list without using the `len()` function.
count = sum(1 for _ in list_1_to_10)
print("Length of list:", count)

Length of list: 10

In [135]:
# 3. Append an element to the end of a list.
list_1_to_10.append(11)
print("After appending 11:", list_1_to_10)

After appending 11: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [136]:
# 4. Insert an element at a specific index in a list.
list_1_to_10.insert(5, 100)
print("After inserting 100 at index 5:", list_1_to_10)

After inserting 100 at index 5: [1, 2, 3, 4, 5, 100, 6, 7, 8, 9, 10, 11]

In [137]:
# 5. Remove an element from a list by its value.
list_1_to_10.remove(100)
print("After removing 100:", list_1_to_10)

After removing 100: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [138]:
# 6. Remove an element from a list by its index.
removed_element = list_1_to_10.pop(5)
print("Removed element at index 5:", removed_element)
print("List after removal:", list_1_to_10)

Removed element at index 5: 6
List after removal: [1, 2, 3, 4, 5, 7, 8, 9, 10, 11]

In [139]:
# 7. Check if an element exists in a list.
exists = 5 in list_1_to_10
print("Does 5 exist in the list?", exists)

Does 5 exist in the list? True

In [140]:
# 8. Find the index of the first occurrence of an element in a list.
index_of_5 = list_1_to_10.index(5)
print("Index of first occurrence of 5:", index_of_5)

Index of first occurrence of 5: 4

In [141]:
# 9. Count the occurrences of an element in a list.
count_of_5 = list_1_to_10.count(5)
print("Count of 5 in list:", count_of_5)

Count of 5 in list: 1

In [142]:
# 10. Reverse the order of elements in a list.
list_1_to_10.reverse()
print("Reversed list:", list_1_to_10)

Reversed list: [11, 10, 9, 8, 7, 5, 4, 3, 2, 1]

In [143]:
# 11. Sort a list in ascending order.
list_1_to_10.sort()
print("Sorted list (ascending):", list_1_to_10)

Sorted list (ascending): [1, 2, 3, 4, 5, 7, 8, 9, 10, 11]

In [144]:
# 12. Sort a list in descending order.
list_1_to_10.sort(reverse=True)
print("Sorted list (descending):", list_1_to_10)

Sorted list (descending): [11, 10, 9, 8, 7, 5, 4, 3, 2, 1]

In [145]:
# 13. Create a list of even numbers from 1 to 20.
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print("Even numbers from 1 to 20:", even_numbers)

Even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [146]:
# 14. Create a list of odd numbers from 1 to 20.
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print("Odd numbers from 1 to 20:", odd_numbers)

Odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [147]:
# 15. Find the sum of all elements in a list.
sum_of_elements = sum(list_1_to_10)
print("Sum of elements:", sum_of_elements)

Sum of elements: 60

In [148]:
# 16. Find the maximum value in a list.
max_value = max(list_1_to_10)
print("Maximum value:", max_value)

Maximum value: 11

In [149]:
# 17. Find the minimum value in a list.
min_value = min(list_1_to_10)
print("Minimum value:", min_value)

Minimum value: 1

In [150]:
# 18. Create a list of squares of numbers from 1 to 10.
squares = [x ** 2 for x in range(1, 11)]
print("Squares from 1 to 10:", squares)

Squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [151]:
# 19. Create a list of random numbers.
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Random numbers:", random_numbers)

Random numbers: [89, 63, 60, 92, 97]

In [152]:
# 20. Remove duplicates from a list.
list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(list_with_duplicates))
print("Unique list:", unique_list)

Unique list: [1, 2, 3, 4, 5]

In [153]:
# 21. Find the common elements between two lists.
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
common_elements = list(set(list_a) & set(list_b))
print("Common elements:", common_elements)

Common elements: [4, 5]

In [154]:
# 22. Find the difference between two lists.
difference_elements = list(set(list_a) - set(list_b))
print("Difference between lists:", difference_elements)

Difference between lists: [1, 2, 3]

In [155]:
# 23. Merge two lists.
merged_list = list_a + list_b
print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [156]:
# 24. Multiply all elements in a list by 2.
multiplied_list = [x * 2 for x in list_a]
print("List after multiplying by 2:", multiplied_list)

List after multiplying by 2: [2, 4, 6, 8, 10]

In [157]:
# 25. Filter out all even numbers from a list.
filtered_list = [x for x in list_a if x % 2 != 0]
print("Filtered odd numbers:", filtered_list)

Filtered odd numbers: [1, 3, 5]

In [158]:
# 26. Convert a list of strings to a list of integers.
list_of_strings = ["1", "2", "3", "4"]
list_of_integers = list(map(int, list_of_strings))
print("Converted to integers:", list_of_integers)

Converted to integers: [1, 2, 3, 4]

In [159]:
# 27. Convert a list of integers to a list of strings.
converted_to_strings = list(map(str, list_of_integers))
print("Converted to strings:", converted_to_strings)

Converted to strings: ['1', '2', '3', '4']

In [160]:
# 28. Flatten a nested list.
nested_list = [[1, 2], [3, 4], [5]]
flattened_list = [item for sublist in nested_list for item in sublist]
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5]

In [161]:
# 29. Create a list of the first 10 Fibonacci numbers.
fibonacci = [0, 1]
for i in range(2, 10):
    fibonacci.append(fibonacci[i - 1] + fibonacci[i - 2])
print("First 10 Fibonacci numbers:", fibonacci)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [162]:
# 30. Check if a list is sorted.
is_sorted = all(list_1_to_10[i] <= list_1_to_10[i + 1] for i in range(len(list_1_to_10) - 1))
print("Is the list sorted?", is_sorted)

Is the list sorted? False

In [163]:
# 31. Rotate a list to the left by `n` positions.
n = 2
rotated_left = list_1_to_10[n:] + list_1_to_10[:n]
print("List rotated left by 2 positions:", rotated_left)

List rotated left by 2 positions: [9, 8, 7, 5, 4, 3, 2, 1, 11, 10]

In [164]:
# 32. Rotate a list to the right by `n` positions.
rotated_right = list_1_to_10[-n:] + list_1_to_10[:-n]
print("List rotated right by 2 positions:", rotated_right)

List rotated right by 2 positions: [2, 1, 11, 10, 9, 8, 7, 5, 4, 3]

In [165]:
# 33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

primes_up_to_50 = [x for x in range(1, 51) if is_prime(x)]
print("Primes up to 50:", primes_up_to_50)

Primes up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [166]:
# 34. Split a list into chunks of size `n`.
n = 3
chunks = [list_1_to_10[i:i + n] for i in range(0, len(list_1_to_10), n)]
print("List chunks of size 3:", chunks)

List chunks of size 3: [[11, 10, 9], [8, 7, 5], [4, 3, 2], [1]]

In [167]:
# 35. Find the second largest number in a list.
second_largest = sorted(set(list_1_to_10))[-2]
print("Second largest number:", second_largest)

Second largest number: 10

In [168]:
# 36. Replace every element in a list with its square.
squared_list = [x ** 2 for x in list_a]
print("List with elements squared:", squared_list)

List with elements squared: [1, 4, 9, 16, 25]

In [169]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
dict_from_list = {value: index for index, value in enumerate(list_a)}
print("Dictionary from list:", dict_from_list)

Dictionary from list: {1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

In [170]:
# 38. Shuffle the elements of a list randomly.
random.shuffle(list_a)
print("Shuffled list:", list_a)

Shuffled list: [4, 1, 5, 3, 2]

In [171]:
# 39. Create a list of the first 10 factorial numbers.
def factorial(n):
    return 1 if n == 0 else n * factorial(n - 1)

factorial_list = [factorial(x) for x in range(10)]
print("First 10 factorial numbers:", factorial_list)

First 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [172]:
# 40. Check if two lists have at least one element in common.
common = any(x in list_b for x in list_a)
print("Do the lists have common elements?", common)

Do the lists have common elements? True

In [173]:
# 41. Remove all elements from a list.
list_a.clear()
print("List after clearing:", list_a)

List after clearing: []

In [174]:
# 42. Replace negative numbers in a list with 0.
list_with_negatives = [-1, 2, -3, 4]
replaced_negatives = [x if x >= 0 else 0 for x in list_with_negatives]
print("List after replacing negatives with 0:", replaced_negatives)

List after replacing negatives with 0: [0, 2, 0, 4]

In [175]:
# 43. Convert a string into a list of words.
string_example = "This is an example string"
list_of_words = string_example.split()
print("List of words:", list_of_words)

List of words: ['This', 'is', 'an', 'example', 'string']

In [176]:
# 44. Convert a list of words into a string.
reconstructed_string = " ".join(list_of_words)
print("Reconstructed string:", reconstructed_string)

Reconstructed string: This is an example string

In [177]:
# 45. Create a list of the first `n` powers of 2.
n = 10
powers_of_2 = [2 ** x for x in range(n)]
print("First 10 powers of 2:", powers_of_2)

First 10 powers of 2: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [178]:
# 46. Find the longest string in a list of strings.
string_list = ["apple", "banana", "cherry", "watermelon"]
longest_string = max(string_list, key=len)
print("Longest string:", longest_string)

Longest string: watermelon

In [179]:
# 47. Find the shortest string in a list of strings.
shortest_string = min(string_list, key=len)
print("Shortest string:", shortest_string)

Shortest string: apple

In [180]:
# 48. Create a list of the first `n` triangular numbers.
n = 10
triangular_numbers = [int(x * (x + 1) / 2) for x in range(1, n + 1)]
print("First 10 triangular numbers:", triangular_numbers)

First 10 triangular numbers: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [181]:
# 49. Check if a list contains another list as a subsequence.
def contains_subsequence(lst, sub_lst):
    sub_len = len(sub_lst)
    return any(lst[i:i + sub_len] == sub_lst for i in range(len(lst) - sub_len + 1))

list_main = [1, 2, 3, 4, 5]
sub_list = [3, 4]
print("List contains subsequence:", contains_subsequence(list_main, sub_list))

List contains subsequence: True

In [183]:
# 50. Swap two elements in a list by their indices.
list_to_swap = [1, 2, 3, 4, 5]
i, j = 1, 3

# Correct swap with complete assignment
list_to_swap[i], list_to_swap[j] = list_to_swap[j], list_to_swap[i]

print("List after swapping:", list_to_swap)

List after swapping: [1, 4, 3, 2, 5]

In [184]:
# Tuple Based Practice Problems with Solutions in Python

In [185]:
# 1. Create a tuple with integers from 1 to 5.
tuple_1_to_5 = (1, 2, 3, 4, 5)
print("Tuple from 1 to 5:", tuple_1_to_5)

Tuple from 1 to 5: (1, 2, 3, 4, 5)

In [186]:
# 2. Access the third element of a tuple.
third_element = tuple_1_to_5[2]
print("Third element of the tuple:", third_element)

Third element of the tuple: 3

In [187]:
# 3. Find the length of a tuple without using the `len()` function.
count = sum(1 for _ in tuple_1_to_5)
print("Length of the tuple:", count)

Length of the tuple: 5

In [188]:
# 4. Count the occurrences of an element in a tuple.
count_of_3 = tuple_1_to_5.count(3)
print("Occurrences of 3 in the tuple:", count_of_3)

Occurrences of 3 in the tuple: 1

In [189]:
# 5. Find the index of the first occurrence of an element in a tuple.
index_of_4 = tuple_1_to_5.index(4)
print("Index of first occurrence of 4:", index_of_4)

Index of first occurrence of 4: 3

In [190]:
# 6. Check if an element exists in a tuple.
exists = 3 in tuple_1_to_5
print("Does 3 exist in the tuple?", exists)

Does 3 exist in the tuple? True

In [191]:
# 7. Convert a tuple to a list.
list_from_tuple = list(tuple_1_to_5)
print("List from tuple:", list_from_tuple)

List from tuple: [1, 2, 3, 4, 5]

In [192]:
# 8. Convert a list to a tuple.
tuple_from_list = tuple(list_from_tuple)
print("Tuple from list:", tuple_from_list)

Tuple from list: (1, 2, 3, 4, 5)

In [193]:
# 9. Unpack the elements of a tuple into variables.
a, b, c, d, e = tuple_1_to_5
print("Unpacked values:", a, b, c, d, e)

Unpacked values: 1 2 3 4 5

In [194]:
# 10. Create a tuple of even numbers from 1 to 10.
even_numbers_tuple = tuple(x for x in range(1, 11) if x % 2 == 0)
print("Even numbers tuple:", even_numbers_tuple)

Even numbers tuple: (2, 4, 6, 8, 10)

In [195]:
# 11. Create a tuple of odd numbers from 1 to 10.
odd_numbers_tuple = tuple(x for x in range(1, 11) if x % 2 != 0)
print("Odd numbers tuple:", odd_numbers_tuple)

Odd numbers tuple: (1, 3, 5, 7, 9)

In [196]:
# 12. Concatenate two tuples.
concatenated_tuple = tuple_1_to_5 + even_numbers_tuple
print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 2, 4, 6, 8, 10)

In [197]:
# 13. Repeat a tuple three times.
repeated_tuple = tuple_1_to_5 * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [198]:
# 14. Check if a tuple is empty.
empty_tuple = ()
print("Is the tuple empty?", not empty_tuple)

Is the tuple empty? True

In [199]:
# 15. Create a nested tuple.
nested_tuple = (1, (2, 3), (4, 5))
print("Nested tuple:", nested_tuple)

Nested tuple: (1, (2, 3), (4, 5))

In [200]:
# 16. Access the first element of a nested tuple.
first_nested_element = nested_tuple[1][0]
print("First element of nested tuple:", first_nested_element)

First element of nested tuple: 2

In [201]:
# 17. Create a tuple with a single element.
single_element_tuple = (42,)
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [202]:
# 18. Compare two tuples.
tuple_a = (1, 2, 3)
tuple_b = (1, 2, 4)
comparison = tuple_a < tuple_b
print("Is tuple_a less than tuple_b?", comparison)

Is tuple_a less than tuple_b? True

In [203]:
# 19. Delete a tuple.
del nested_tuple
print("Deleted nested_tuple.")

Deleted nested_tuple.

In [204]:
# 20. Slice a tuple.
sliced_tuple = tuple_1_to_5[1:4]
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (2, 3, 4)

In [205]:
# 21. Find the maximum value in a tuple.
max_value = max(tuple_1_to_5)
print("Maximum value in tuple:", max_value)

Maximum value in tuple: 5

In [206]:
# 22. Find the minimum value in a tuple.
min_value = min(tuple_1_to_5)
print("Minimum value in tuple:", min_value)

Minimum value in tuple: 1

In [207]:
# 23. Convert a string to a tuple of characters.
string_tuple = tuple("hello")
print("Tuple from string:", string_tuple)

Tuple from string: ('h', 'e', 'l', 'l', 'o')

In [208]:
# 24. Convert a tuple of characters to a string.
reconstructed_string = "".join(string_tuple)
print("Reconstructed string:", reconstructed_string)

Reconstructed string: hello

In [209]:
# 25. Create a tuple from multiple data types.
mixed_tuple = (1, "hello", 3.14, True)
print("Mixed data type tuple:", mixed_tuple)

Mixed data type tuple: (1, 'hello', 3.14, True)

In [210]:
# 26. Check if two tuples are identical.
identical_check = tuple_a == tuple_b
print("Are the tuples identical?", identical_check)

Are the tuples identical? False

In [211]:
# 27. Sort the elements of a tuple.
sorted_tuple = tuple(sorted(tuple_1_to_5))
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 4, 5)

In [212]:
# 28. Convert a tuple of integers to a tuple of strings.
string_tuple = tuple(map(str, tuple_1_to_5))
print("Tuple of strings:", string_tuple)

Tuple of strings: ('1', '2', '3', '4', '5')

In [213]:
# 29. Convert a tuple of strings to a tuple of integers.
converted_tuple = tuple(map(int, string_tuple))
print("Tuple of integers:", converted_tuple)

Tuple of integers: (1, 2, 3, 4, 5)

In [214]:
# 30. Merge two tuples.
merged_tuple = tuple_a + tuple_b
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 1, 2, 4)

In [215]:
# 31. Flatten a nested tuple.
nested_tuple = (1, (2, 3), (4, 5))
flattened_tuple = tuple(x for subtuple in nested_tuple for x in (subtuple if isinstance(subtuple, tuple) else (subtuple,)))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5)

In [216]:
# 32. Create a tuple of the first 5 prime numbers.
primes = (2, 3, 5, 7, 11)
print("First 5 prime numbers tuple:", primes)

First 5 prime numbers tuple: (2, 3, 5, 7, 11)

In [217]:
# 33. Check if a tuple is a palindrome.
palindrome_tuple = (1, 2, 3, 2, 1)
is_palindrome = palindrome_tuple == palindrome_tuple[::-1]
print("Is the tuple a palindrome?", is_palindrome)

Is the tuple a palindrome? True

In [218]:
# 34. Create a tuple of squares of numbers from 1 to 5.
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print("Squares tuple:", squares_tuple)

Squares tuple: (1, 4, 9, 16, 25)

In [219]:
# 35. Filter out all even numbers from a tuple.
even_filtered_tuple = tuple(x for x in tuple_1_to_5 if x % 2 != 0)
print("Filtered odd numbers tuple:", even_filtered_tuple)

Filtered odd numbers tuple: (1, 3, 5)

In [220]:
# 36. Multiply all elements in a tuple by 2.
multiplied_tuple = tuple(x * 2 for x in tuple_1_to_5)
print("Multiplied tuple:", multiplied_tuple)

Multiplied tuple: (2, 4, 6, 8, 10)

In [221]:
# 37. Create a tuple of random numbers.
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print("Random numbers tuple:", random_tuple)

Random numbers tuple: (60, 3, 80, 6, 58)

In [222]:
# 38. Check if a tuple is sorted.
is_sorted = all(tuple_1_to_5[i] <= tuple_1_to_5[i + 1] for i in range(len(tuple_1_to_5) - 1))
print("Is the tuple sorted?", is_sorted)

Is the tuple sorted? True

In [223]:
# 39. Rotate a tuple to the left by `n` positions.
n = 2
rotated_left_tuple = tuple_1_to_5[n:] + tuple_1_to_5[:n]
print("Left rotated tuple:", rotated_left_tuple)

Left rotated tuple: (3, 4, 5, 1, 2)

In [224]:
# 40. Rotate a tuple to the right by `n` positions.
rotated_right_tuple = tuple_1_to_5[-n:] + tuple_1_to_5[:-n]
print("Right rotated tuple:", rotated_right_tuple)

Right rotated tuple: (4, 5, 1, 2, 3)

In [225]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
fibonacci_tuple = (0, 1)
while len(fibonacci_tuple) < 5:
    fibonacci_tuple += (fibonacci_tuple[-1] + fibonacci_tuple[-2],)
print("First 5 Fibonacci numbers tuple:", fibonacci_tuple)

First 5 Fibonacci numbers tuple: (0, 1, 1, 2, 3)

In [226]:
# 42. Create a tuple from user input.
user_input_tuple = tuple(input("Enter comma-separated values: ").split(","))
print("User input tuple:", user_input_tuple)

Enter comma-separated values:  2,3,4,55

User input tuple: ('2', '3', '4', '55')

In [227]:
# 43. Swap two elements in a tuple.
swap_tuple = list(tuple_1_to_5)
swap_tuple[0], swap_tuple[4] = swap_tuple[4], swap_tuple[0]
swap_tuple = tuple(swap_tuple)
print("Tuple after swapping:", swap_tuple)

Tuple after swapping: (5, 2, 3, 4, 1)

In [228]:
# 44. Reverse the elements of a tuple.
reversed_tuple = tuple_1_to_5[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [229]:
# 45. Create a tuple of the first `n` powers of 2.
n = 5
powers_of_2_tuple = tuple(2 ** x for x in range(n))
print("Powers of 2 tuple:", powers_of_2_tuple)

Powers of 2 tuple: (1, 2, 4, 8, 16)

In [230]:
# 46. Find the longest string in a tuple of strings.
string_tuple = ("apple", "banana", "watermelon", "cherry")
longest_string = max(string_tuple, key=len)
print("Longest string in tuple:", longest_string)

Longest string in tuple: watermelon

In [231]:
# 47. Find the shortest string in a tuple of strings.
shortest_string = min(string_tuple, key=len)
print("Shortest string in tuple:", shortest_string)

Shortest string in tuple: apple

In [232]:
# 48. Create a tuple of the first `n` triangular numbers.
n = 5
triangular_numbers_tuple = tuple(sum(range(1, x + 1)) for x in range(1, n + 1))
print("Triangular numbers tuple:", triangular_numbers_tuple)

Triangular numbers tuple: (1, 3, 6, 10, 15)

In [233]:
# 49. Check if a tuple contains another tuple as a subsequence.
main_tuple = (1, 2, 3, 4, 5)
sub_tuple = (3, 4)
is_subsequence = any(main_tuple[i:i + len(sub_tuple)] == sub_tuple for i in range(len(main_tuple) - len(sub_tuple) + 1))
print("Is sub_tuple a subsequence?", is_subsequence)

Is sub_tuple a subsequence? True

In [234]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n = 10
alternating_tuple = tuple(1 if x % 2 == 0 else 0 for x in range(n))
print("Alternating 1s and 0s tuple:", alternating_tuple)

Alternating 1s and 0s tuple: (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [235]:
# Set Based Practice Problems with Solutions in Python

In [236]:

# 1. Create a set with integers from 1 to 5.
set_1_to_5 = set(range(1, 6))
print("Set from 1 to 5:", set_1_to_5)

Set from 1 to 5: {1, 2, 3, 4, 5}

In [237]:
# 2. Add an element to a set.
set_1_to_5.add(6)
print("After adding 6:", set_1_to_5)

After adding 6: {1, 2, 3, 4, 5, 6}

In [238]:
# 3. Remove an element from a set.
set_1_to_5.remove(6)  # Throws an error if the element does not exist.
print("After removing 6:", set_1_to_5)

After removing 6: {1, 2, 3, 4, 5}

In [239]:
# 4. Check if an element exists in a set.
exists = 3 in set_1_to_5
print("Does 3 exist in the set?", exists)

Does 3 exist in the set? True

In [240]:
# 5. Find the length of a set without using the `len()` function.
count = sum(1 for _ in set_1_to_5)
print("Length of set:", count)

Length of set: 5

In [241]:
# 6. Clear all elements from a set.
set_1_to_5.clear()
print("Set after clearing:", set_1_to_5)

Set after clearing: set()

In [242]:
# 7. Create a set of even numbers from 1 to 10.
even_set = {x for x in range(1, 11) if x % 2 == 0}
print("Set of even numbers from 1 to 10:", even_set)

Set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [243]:
# 8. Create a set of odd numbers from 1 to 10.
odd_set = {x for x in range(1, 11) if x % 2 != 0}
print("Set of odd numbers from 1 to 10:", odd_set)

Set of odd numbers from 1 to 10: {1, 3, 5, 7, 9}

In [244]:
# 9. Find the union of two sets.
union_set = even_set | odd_set
print("Union of even and odd sets:", union_set)

Union of even and odd sets: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [245]:
# 10. Find the intersection of two sets.
intersection_set = even_set & odd_set
print("Intersection of even and odd sets:", intersection_set)

Intersection of even and odd sets: set()

In [246]:
# 11. Find the difference between two sets.
difference_set = even_set - odd_set
print("Difference between even and odd sets:", difference_set)

Difference between even and odd sets: {2, 4, 6, 8, 10}

In [247]:
# 12. Check if a set is a subset of another set.
print("Is odd_set a subset of union_set?", odd_set.issubset(union_set))

Is odd_set a subset of union_set? True

In [248]:
# 13. Check if a set is a superset of another set.
print("Is union_set a superset of odd_set?", union_set.issuperset(odd_set))

Is union_set a superset of odd_set? True

In [249]:
# 14. Create a set from a list.
list_to_set = set([1, 2, 3, 4, 5])
print("Set created from list:", list_to_set)

Set created from list: {1, 2, 3, 4, 5}

In [250]:
# 15. Convert a set to a list.
set_to_list = list(list_to_set)
print("List created from set:", set_to_list)

List created from set: [1, 2, 3, 4, 5]

In [251]:
# 16. Remove a random element from a set.
removed_element = list_to_set.pop() if list_to_set else None
print("Removed element:", removed_element, "Remaining set:", list_to_set)

Removed element: 1 Remaining set: {2, 3, 4, 5}

In [252]:
# 17. Pop an element from a set.
popped_element = even_set.pop() if even_set else None
print("Popped element:", popped_element, "Remaining set:", even_set)

Popped element: 2 Remaining set: {4, 6, 8, 10}

In [253]:
# 18. Check if two sets have no elements in common.
print("Do even_set and odd_set have no elements in common?", even_set.isdisjoint(odd_set))

Do even_set and odd_set have no elements in common? True

In [254]:
# 19. Find the symmetric difference between two sets.
symmetric_difference = odd_set ^ even_set
print("Symmetric difference between sets:", symmetric_difference)

Symmetric difference between sets: {1, 3, 4, 5, 6, 7, 8, 9, 10}

In [255]:
# 20. Update a set with elements from another set.
odd_set.update([11, 13])
print("Updated odd_set:", odd_set)

Updated odd_set: {1, 3, 5, 7, 9, 11, 13}

In [256]:
# 21. Create a set of the first 5 prime numbers.
prime_set = {2, 3, 5, 7, 11}
print("First 5 prime numbers:", prime_set)

First 5 prime numbers: {2, 3, 5, 7, 11}

In [257]:
# 22. Check if two sets are identical.
print("Are prime_set and odd_set identical?", prime_set == odd_set)

Are prime_set and odd_set identical? False

In [258]:
# 23. Create a frozen set.
frozen_set_example = frozenset([1, 2, 3])
print("Frozen set example:", frozen_set_example)

Frozen set example: frozenset({1, 2, 3})

In [259]:
# 24. Check if a set is disjoint with another set.
print("Is prime_set disjoint with even_set?", prime_set.isdisjoint(even_set))

Is prime_set disjoint with even_set? True

In [260]:
# 25. Create a set of squares of numbers from 1 to 5.
squares_set = {x ** 2 for x in range(1, 6)}
print("Squares set from 1 to 5:", squares_set)

Squares set from 1 to 5: {1, 4, 9, 16, 25}

In [261]:
# 26. Filter out all even numbers from a set.
filtered_odd_set = {x for x in prime_set if x % 2 != 0}
print("Filtered odd numbers from prime_set:", filtered_odd_set)

Filtered odd numbers from prime_set: {11, 3, 5, 7}

In [262]:
# 27. Multiply all elements in a set by 2.
multiplied_set = {x * 2 for x in prime_set}
print("Multiplied set:", multiplied_set)

Multiplied set: {4, 6, 10, 14, 22}

In [263]:
# 28. Create a set of random numbers.
import random
random_set = {random.randint(1, 100) for _ in range(5)}
print("Random set:", random_set)

Random set: {64, 10, 61, 84, 29}

In [264]:
# 29. Check if a set is empty.
empty_check = not set_1_to_5
print("Is set_1_to_5 empty?", empty_check)

Is set_1_to_5 empty? True

In [265]:
# 30. Create a nested set (hint: use frozenset).
nested_set = {frozenset([1, 2]), frozenset([3, 4])}
print("Nested set with frozensets:", nested_set)

Nested set with frozensets: {frozenset({3, 4}), frozenset({1, 2})}

In [266]:
# 31. Remove an element from a set using the discard method.
prime_set.discard(7)
print("After discarding 7:", prime_set)

After discarding 7: {2, 3, 5, 11}

In [267]:
# 32. Compare two sets.
comparison_result = prime_set == odd_set
print("Are prime_set and odd_set equal?", comparison_result)

Are prime_set and odd_set equal? False

In [268]:
# 33. Create a set from a string.
set_from_string = set("hello")
print("Set from string 'hello':", set_from_string)

Set from string 'hello': {'l', 'o', 'e', 'h'}

In [269]:
# 34. Convert a set of strings to a set of integers.
string_set = {"1", "2", "3"}
integer_set = {int(x) for x in string_set}
print("Converted to integers:", integer_set)

Converted to integers: {1, 2, 3}

In [270]:
# 35. Convert a set of integers to a set of strings.
string_converted_set = {str(x) for x in integer_set}
print("Converted to strings:", string_converted_set)

Converted to strings: {'1', '3', '2'}

In [271]:
# 36. Create a set from a tuple.
set_from_tuple = set((1, 2, 3))
print("Set from tuple:", set_from_tuple)

Set from tuple: {1, 2, 3}

In [272]:
# 37. Convert a set to a tuple.
tuple_from_set = tuple(set_from_tuple)
print("Tuple from set:", tuple_from_set)

Tuple from set: (1, 2, 3)

In [273]:
# 38. Find the maximum value in a set.
max_value = max(set_from_tuple)
print("Maximum value in set:", max_value)

Maximum value in set: 3

In [274]:
# 39. Find the minimum value in a set.
min_value = min(set_from_tuple)
print("Minimum value in set:", min_value)

Minimum value in set: 1

In [276]:
# 40. Create a set from user input.
user_input_set = set(map(int, input("Enter numbers separated by spaces: ").split()))
print("Set from user input:", user_input_set)

Enter numbers separated by spaces:  2 3 4 5

Set from user input: {2, 3, 4, 5}

In [277]:
# 41. Check if the intersection of two sets is empty.
intersection_empty = not (prime_set & even_set)
print("Is intersection empty?", intersection_empty)

Is intersection empty? True

In [278]:
# 42. Create a set of the first 5 Fibonacci numbers.
fib_set = {0, 1}
a, b = 0, 1
for _ in range(3):
    a, b = b, a + b
    fib_set.add(b)
print("First 5 Fibonacci numbers:", fib_set)

First 5 Fibonacci numbers: {0, 1, 2, 3}

In [279]:
# 43. Remove duplicates from a list using sets.
list_with_duplicates = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(list_with_duplicates))
print("Unique list:", unique_list)

Unique list: [1, 2, 3, 4, 5]

In [280]:
# 44. Check if two sets have the same elements, regardless of their count.
set_a = {1, 2, 3}
set_b = {3, 2, 1}
print("Do set_a and set_b have the same elements?", set_a == set_b)

Do set_a and set_b have the same elements? True

In [281]:
# 45. Create a set of the first `n` powers of 2.
n = 5
powers_of_2_set = {2 ** x for x in range(n)}
print("First 5 powers of 2:", powers_of_2_set)

First 5 powers of 2: {1, 2, 4, 8, 16}

In [282]:
# 46. Find the common elements between a set and a list.
common_elements = set_a.intersection([2, 3, 4])
print("Common elements between set_a and list:", common_elements)

Common elements between set_a and list: {2, 3}

In [283]:
# 47. Create a set of the first `n` triangular numbers.
n = 5
triangular_set = {x * (x + 1) // 2 for x in range(1, n + 1)}
print("First 5 triangular numbers:", triangular_set)

First 5 triangular numbers: {1, 3, 6, 10, 15}

In [284]:
# 48. Check if a set contains another set as a subset.
print("Is set_b a subset of set_a?", set_b.issubset(set_a))

Is set_b a subset of set_a? True

In [285]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n = 6
alternating_set = {i % 2 for i in range(n)}
print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

In [286]:
# 50. Merge multiple sets into one.
merged_sets = set_a.union(set_b, {4, 5, 6})
print("Merged sets:", merged_sets)

Merged sets: {1, 2, 3, 4, 5, 6}